@import url('./header.css');
@import url('./menuicon.css');

:root {
    --ff-heading: "Kumbh Sans", sans-serif;
    --ff-body: "Raleway", sans-serif;
    --clr-main: #FF4D13;
    --clr-secondry: #FFBEA9;
    --clr-icon: #FA7A02;
    --clr-link: #000;
    --clr-bg: #F5F5F5;
    --radius-size: 3px;
    --fnt-size10: 0.625rem;
    --fnt-size14: 0.875rem;
    --fnt-size16: 1rem;
    --fnt-size18: 1.125rem;
    --fnt-size22: 1.325rem;
    --fnt-size24: 1.5rem;
    --fnt-size28: 1.75rem;
    font-size: 1.125rem; /* 18px as normal font-size */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: var(--ff-body);
    line-height: 1.6;
    /* max-width: 520px;
    overflow: hidden; */
    /* font-size: clamp(1rem, 2vw, 1.25rem); */
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-heading);
    font-weight: Bold;
    line-height: 1.6;
    /* min-width: 6em; */
}

.menu{
    width: 100%;
    height: 50px;
    background-color: var(--clr-secondry);
    display: flex;
    justify-content: space-around;
    align-content: center;
    position: fixed;
    bottom: 0;
    z-index: 9999999;
}
