/* ******************
****** Header ********
**********************/

header {
    width: auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trademark {
    max-width: 8.5rem;
    /* 160px */
}

.coins {
    background: var(--clr-main);
    display: inline-block;
    padding: 0em .5em;
    font-size: var(--fnt-size14);
    border-radius: var(--radius-size);
    color: white;

}

.coins p {
    margin: 20% 0;
}

.hidden {
    user-select: none;
    opacity: 0;
}

.main-navigation {
    display: inline-block;
    height: auto;
    margin-bottom: .5em;
    padding: 2em;
    background-color: var(--clr-bg);
    position: fixed;
    z-index: 20;
    font-size: var(--fnt-size18);
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.navigation-list {
    list-style-type: none;
    margin-top: 2rem;
}

.list-item {
    margin-top: .5rem;
    user-select: none;
}

.list-item a {
    text-decoration: none;
    color: var(--clr-link);
}


.list-item:hover a {
    text-decoration: none;
    color: var(--clr-main);
    font-weight: bold;
}

.open {
    transform: translateX(0%);
}