
/* ****************************
****** Hero section ******
***********************************/

.indexpage-hero {
    width: 100%;
    height: 60vh;
    /* padding: 1rem; */
    background: #F5F5F5 url("../images/football.jpg") no-repeat scroll;
    background-size: cover;
    background-position: left bottom;
}

.indexpage-hero h1{
    font-size: clamp(1.8rem, 5vw, 2rem);;
    color: white;
}

.indexpage-content {
    text-align: center;
    width: 80%;
    margin-left: 50%;
    margin-top: 5rem;
    position: absolute;
    transform: translate(-50%, 0%);
    text-shadow: 1px 1px 5px black;
}

.indexpage-content > * {
    font-size: clamp(var(--fnt-size14), 3vw, 1.2rem);
    color: white;
}

.btn {
    background-color: var(--clr-main);
    padding: .6em 1em;
    font-size: clamp(.8rem, 3vw, 1rem);
    font-weight: bold;
    border-radius: var(--radius-size);
    margin-top: 2rem;
    transition: background .1s ease, color .1s ease;
    cursor: pointer;
}

.btn-primary {
    color: white;
    border: none;
    margin-right: 1rem;
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: var(--clr-main);
    opacity: .9;
    color: white;
}

.btn-secoundary {
    padding: .4em 1em;
    border: var(--radius-size) solid var(--clr-secondry);
    background-color: transparent;
    color: var(--clr-secondry);
}

.btn-secoundary:hover,
.btn-secoundary:focus {
    border: var(--radius-size) solid var(--clr-main);
    background-color: var(--clr-main);
    color: white;
}

/* ****************************
****** Description section ******
***********************************/

.index-description {
    padding: 1rem;
    max-width: 750px;
    margin: 0 auto;
}

.description-section:first-child {
    margin-top: 3rem;
}
.description-section + section {
    margin-top: 5rem;
}

.description-section h2 {
    margin-bottom: .6em;
}

.section-content {
    display: flex;
    align-items: center;
    font-size: clamp(var(--fnt-size14), 4vw, var(--fnt-size16));
}

.section-content p {
    margin-right: 2em;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse p {
    margin-left: 2em;
}
