/* Place a bet popup */

.placebet-content{
    background-color: var(--clr-secondry);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.coupon-title {
    background-color: var(--clr-main);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 30px;
}

.amount{
    display: flex;
    flex-direction: row;
}

.bet-coins{
    background-color: white;
    margin-right: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    width: 120px;
    font-size: 18px;
    border: none;
    color: black;
}

.center{
    display: flex;
    align-items: center;
}

.decline-btn {
    background-color: var(--clr-bg);
    width: 100%;
    color: black;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
}
.decline:focus ,.decline:hover {
    color: black;
}

.bet-btn {
    background-color: var(--clr-main);
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.place-a-bet:focus ,.place-a-bet:hover {
    color: var(--clr-main);
}

.coupon-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.placebet{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 30;
    transform: translateY(120px);
    transition: transform .3s ease;
}

.show-bet {
    transform: translateY(0px);
}
