/* ****** Martin ************* */
@import url('./header.css');
@import url('./menuicon.css');

.section-content {
    display: flex;
    /* font-size: clamp(var(--fnt-size14), 20ch , var(--fnt-size16)); */
    align-items: center;
}
/*profile*/
.profile-picture {
    width: 150px;
}

/*button*/
.invite-frinds {
    width: 20px;
}

.button-profile {
  background-color: #FFBEA9;
  border: none;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.change {
    margin-left: 15px;
}

/*stats*/
.profile-stats, .headline-achivements  {
    margin-left: 15px;
}

.stats {
    margin-left: 25px;
}

/*achivements*/
.achievements-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-achievements {
    margin: 3px;
    padding-left: 4px;
    background-color: #FFBEA9;
    text-align: center;
    border: none;
    padding: 5px 5px;
    width: 180px;
}

.achievement-icon {
    width: 23px;
}

#popUpBox {
    width: 200px;
  background-color: #FFBEA9;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}

#blur {
    width: 100%;
    height: 120%;
    background: rgba(0, 0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

