#search {
    padding: 1.5rem;
}

.input-search {
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-search>img {
    max-width: 20px; 
}

.input-search input {
    border: none;
    height: 100%;
    width: 60%;
}

.input-search input:focus {
    outline: none;
}

.input-search input:focus {
    outline: none;
}

.glide__slides {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 1rem;
}

.sport-item,
.glide__slide {
    min-width: 50px;
    max-width: 50px;
    /* width: 50px; */
    /* height: 50px; */
    max-height: 50px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 20%) ;
    border-radius: 50%;
    padding: 0.725rem;
    margin: 1rem .6rem;
    list-style-type: none;
    user-select: none;
}

.sport-item img,
.glide__slide img {
    max-width: 30px;
}

#currentEvents, #popularGames {
    padding: 0 1rem;
    margin-top: 2rem;
}

.current-events {
    background-color: var(--clr-secondry);
    padding: 1rem;
    position: relative;
}

.date-label {
    position: absolute;
    background-color: var(--clr-main);
    padding: .2em 1.5em .2em .2em;
    right: -10px;
    font-size: var(--fnt-size14);
    color: white;
}

.currentEvents__title {
    text-align: left;
    display: flex;
    font-size: var(--fnt-size22);
    align-items: center;
    line-height: 20px;
}

.currentEvents__title img{
    width: 20px;
    margin-right: 0.3em;
    display: inline-block;
    margin-bottom: 5px;
}

.bet-event {
    margin-top: 1rem;
    font-weight: bold;
}

.bet-event span {
    font-weight: normal;
}
.bets-action {
    display: flex;
    justify-content: space-between;
}

.bets-action button {
    border: none;
    background-color: white;
    padding: .4em 1em;
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
}

.bets-action button:hover,
.bets-action button:focus {
    background-color: var(--clr-main);
    color: white;
}


